<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AwwzApp: The Best YouTube Shorts Scripts and Voice-Over Tool</title>
  <meta name="description"
    content="Effortlessly write YouTube Shorts scripts, then generate voiceovers with our AI-powered system. Just describe what you want, and we'll take care of the rest.">
  <!-- twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@awwzapp">
  <meta name="twitter:title" content="AwwzApp: The Best YouTube Shorts Scripts and Voice-Over Tool">
  <meta name="twitter:description"
    content="Effortlessly write YouTube Shorts scripts, then generate voiceovers with our AI-powered system. Just describe what you want, and we'll take care of the rest.">
  <meta name="twitter:image" content="{% static 'images/icons/logo.png' %}">

  <link rel="shortcut icon" href="{% static 'images/icons/favicon.png' %}" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'app/bulma/css/bulma.min.css' %}">
  <link rel="stylesheet" href="{% static 'app/style.css' %}">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9Q4TESDCD5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-9Q4TESDCD5');
  </script>
  <style>
    .is-link {
      background: linear-gradient(45deg, #673ab7, #3273dc);
    }

    .link-outlined {
      background-color: transparent;
      border: 1px solid #3273dc;
      color: #3273dc;
    }

    .name {

      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: -5px;

    }

    .logo {
      max-width: 3.75rem !important;
      margin-bottom: 5px;
    }

 

    .nav-start * a:hover,
    .start-brand * a:hover {
      color: #5C6BC0 !important;
    }

    .lander {
      justify-content: center;
      display: flex;
      align-items: center;
      width: 100%;

    }

    .tool {
      width: 250px;
      height: 250px;
    }

    @media screen and (min-width: 1024px) {
      .t1 {
        font-size: 4rem !important;
      }

      .subt1 {
        font-size: 2;
      }

      .lander {
        max-width: 70%;
      }
    }

    textarea::placeholder {
      color: #999999;
    }

    /* Styles for the audio player */
    .player {
      width: 100%;
      height: 50px;
      background-color: transparent;
    }

    .player::-webkit-media-controls-enclosure {
      width: 100%;
      height: 60px;
      background-color: transparent;
    }

    .player::-webkit-media-controls-play-button {
      display: block !important;
      background-color: #3273dc;
      border-radius: 50%;
    }

    .player::-webkit-media-controls-timeline {
      display: block !important;

    }

    .player::-moz-progress-bar {
      background-color: blue;
    }

    .player::-webkit-media-controls-timeline-thumb {
      background-color: red;
    }

    .player::-webkit-media-controls-current-time-display,
    .player::-webkit-media-controls-time-remaining-display {
      font-size: 14px;
      color: #333;
      display: none !important;
    }

    .player::-webkit-media-controls-rewind-button {
      display: none !important;
    }

    .player::-webkit-media-controls-fast-forward-button {
      display: none !important;
    }

    .cover{
      height: 100vh;
      width: 100vw;
      position: absolute;
      top: 0;
      background-color: #1263a9a1;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 100;
      flex-direction: column;
    }
    .cover .card{
      min-width: 300px;
      max-width: 500px;
      width: 50%;
      min-height: 100px;
      height: auto;
    }
    .hide{
      display: none;
        }
    @media screen and (min-width: 1024px) {
      .about {
        max-width: 55% !important;
      }
    }
  </style>
</head>
<body>
  <nav class="navbar  has-background-white-ter">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <span class="name" style="color: #1a1a1a !important;"><span style="color: #3273dc;">Awwz</span>App</span>
        </a>
        <div class="navbar-burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>     
      </div> 
            
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">            
          <div class="navbar-item">
            <a href="https://twitter.com/calvinochieng_/"  target="_blank"   class="navbar-item">
              <span class="icon has-text-info">
                <i class="fa-brands fa-twitter"></i>
              </span>
            </a>
            <a href="https://www.youtube.com/@freedomia"  target="_blank"   class="navbar-item">
              <span class="icon has-text-danger">
                <!-- <i class="fa fa-youtube"></i> -->
                <i class="fa-brands fa-youtube"></i>
              </span>
            </a>
            <a href="https://bit.ly/AwwzAppDonate" target="_blank" class="navbar-item">
              <button class="button  is-link is-small">
                <span class="icon">
                  <i class="fab fa-paypal"></i>
                </span>
                <span>Donate with PayPal</span>
              </button>
            </a>  
          </div> 
        </div>
      </div>     
    </div>
  </nav>
  <section class="has-background-white" id="tool">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column p-0">
            <h1 class="title" style="    font-size: 1.78rem !important">
              The Best YouTube Shorts <strong class="has-text-link">Scripts</strong> and <strong
              class="has-text-link">Voice-Over</strong> Tool
            </h1>
            <p class="is-hidden-mobile">
              Effortlessly write <strong>YouTube Shorts <span class="has-text-link">Script</span></strong> then generate
              <strong class="has-text-link">Voiceovers</strong>. All you have to do is describe what you want and our
              <strong class="has-text-link">AI</strong> powered system wil do the rest.
            </p>
          </div>
          <div class="column is-two-thirds">
            <div class="box" style=" border: 1px solid #dbdbdb;">              
              <form action = "/write/" class="prompt-form">
                {% csrf_token %}
                <div class="mb-4 p-3 user-prompt-container" style="display: none;">
                  <p class="has-text-weight-bold">
                    <span class="tag icon is-rounded is-link is-medium">
                      <i class="fa fa-user has-text-white"></i>
                    </span>
                    <span  id="user-propmt">...</span>
                  </p>
                </div>
               
                <textarea class="textarea generated-text" name="prompt" id="text" rows="6"
                  method = "POST"
                  style="outline: none; border: none;"
                  placeholder="Describe the content you want to create voice for. You can include details such as the topic, tone, audience, and more"></textarea>
                  <div class="mt-5 buttons">
                    <button class="button is-normal is-link" type="submit" id="submit-button">
                      <span class="icon">
                        <i class="fa fa-pen"></i>
                      </span>
                      <span>Write</span>
                      <span class="" id="write-loader"></span>
                    </button>
                  </div>
                </form>

              <hr>
              <div class="mt-5 ">
                <div class="pb-5 columns">
                  <div class="select is-normal link-outlined">
                    <select id="voice" name="voice">
                      <option value="Joanna">Joanna - Female</option>
                      <option value="Matthew">Matthew - Male</option>
                      <option value="Salli">Salli - Female</option>
                      <option value="Brian">Brian - Male</option>
                      <option value="Emma">Emma - Female</option>
                      <option value="Justin">Justin - Male</option>
                      <option value="Kendra">Kendra - Female</option>
                      <option value="Russell">Russell - Male</option>
                      <option value="Kimberly">Kimberly - Female</option>
                      <option value="Joey">Joey - Male</option>
                    </select>
                  </div>
                  <!-- <button class="ml-3 button is-link" id="synthesize"></button> -->
                  <button id="synthesize" class="ml-1 button is-link">
                    <span class=" is-loading" id="loader"></span>
                    <span class="pl-1">Synthesize</span>
                  </button>
                  
                </div>
                <div class="columns is-flex">
                  <div class="" style="flex:1">
                    <audio controls class="player" id="audio">
                      <source src="" type="audio/mpeg" id="audio">
                      Your browser does not support the audio element.
                    </audio>
                  </div>
                  <div class="">
                    <a href="" download="awwzapp_synthesized_voice_over" class="button link-outlined" id="download-button">
                      <span class="icon has-text-link">
                        <i class="fas fa-download"></i>
                      </span>
                      <!-- <span>Download</span> -->
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section" id="about">
    <div class="container about">
      <p class="subtitle">
        The Best YouTube Shorts <strong>Scripts</strong> and <strong>Voice-Over</strong> Tool
      </p>
      <br>
      <p class="subtitle">Welcome to the best tool for creating professional-grade YouTube Shorts scripts and
        voice-overs!</p><br>
      <p class="subtitle">Our AI-powered platform lets you effortlessly generate top-quality scripts and voice-overs
        that will capture your audience's attention.</p><br>
      <p class="subtitle">Our system is incredibly easy to use. Simply describe the content you want to create, and our
        AI-powered system will take care of the rest.</p><br>
      <p class="subtitle">You can be confident that our platform will provide you with high-quality, engaging scripts
        and voice-overs that will help your content stand out from the crowd.</p><br>
      <p class="subtitle">Our platform is perfect for content creators of all skill levels. Whether you're a seasoned
        YouTube creator or just starting out, our tool will help you create compelling Shorts that will engage your
        audience and help grow your channel.</p><br>
      <p class="subtitle">So why wait? Sign up now and start creating amazing Shorts that will captivate your audience
        and take your content to the next level!</p>
    </div>
  </section>

  <div class="cover" style="transform:scale(0);">
    <div class="card">
      <div class="is-flex is-link wait p-2 is-flex-direction-row has-text-white is-align-items-center is-justify-content-space-around">
        <span>This may take a minute</span><span class="loader waiter"></span>
        <button class="button is-small"  
        style="background: transparent;
              outline: none;
              border: none;
              color: white;"
        onclick="document.querySelector('.cover').style = 'transform:scale(0)'">
              <span class="icon"><i class="fa fa-close"></i></span>
        </button>
      </div>
      <div class="card-content" style="background-color: #d60000a8;">   
        <div class="card-image">
          <figure class="image">
            <a href="https://www.tubebuddy.com/pricing?a=installabless">
              <img src="https://www.tubebuddy.com/assets/images/AffiliateAssets/logo-small.png" alt="AwwzApp TubeBuddy">
            </a>
          </figure>
        </div> 
        <div class="content pt-3">
          <p class="has-text-white">Boost your YouTube <strong class="has-text-white">Views</strong> and <strong class="has-text-white">Subscribers</strong> with TubeBuddy - the must-have tool for any serious YouTuber.</p>
          <a href="https://www.tubebuddy.com/pricing?a=installabless">
            <button class="button" style="background-color: #F44336; color: white; border: 1px solid #F44336;">Start Free</button>
          </a>
        </div>
          
        <div class="card-image">
          <figure class="image">
            <a href="https://www.tubebuddy.com/pricing?a=installabless">
              <img src="https://www.tubebuddy.com/assets/images/AffiliateAssets/Card-b-1200x628.png" alt="AwwzApp TubeBuddy">
            </a>
          </figure>
        </div> 
      </div>
    </div>
    <div class="card">
      <div class="is-flex is-link wait p-2 is-flex-direction-row has-text-white is-align-items-center is-justify-content-space-around">
        <span>This may take a minute</span><span class="loader waiter"></span>
        <button class="button is-small"  
        style="background: transparent;
              outline: none;
              border: none;
              color: white;"
        onclick="document.querySelector('.cover').style = 'transform:scale(0)'">
              <span class="icon"><i class="fa fa-close"></i></span>
        </button>
      </div>
      <div class="card-content" style="background-color: #0b00d6a8;">   
        <div class="card-image">
          <figure class="image">
            <a href="https://pictory.ai?ref=calvin40" target="_blank" style="outline:none;border:none;">
              <img src="https://d2gdx5nv84sdx2.cloudfront.net/uploads/k5cvved3/marketing_asset/banner/9996/728x90banner-blog.png" alt="pictory" border="0"/>
              <!-- <h1 class="title t1 has-text-white">Pictory AI</h1> -->
            </a>
          </figure>
        </div> 
        <div class="content pt-3">
          <p class="has-text-white">Use <strong class="has-text-white">AI</strong> to <strong class="has-text-white">Create Videos</strong> For Free.</p>
          <a href="https://www.tubebuddy.com/pricing?a=installabless">
            <button class="button is-link">Start Creating Videos</button>
          </a>
        </div>
          
        <div class="card-image">
          <figure class="image">
            <a href="https://pictory.ai?ref=calvin40" target="_blank" style="outline:none;border:none;">
              <img src="https://d2gdx5nv84sdx2.cloudfront.net/uploads/k5cvved3/marketing_asset/banner/10196/quick1background_1584___396px___8_.png" alt="pictory" border="0"/>
            </a>
          </figure>
        </div> 
      </div>
    </div>
  </div>

  <footer class="footer has-background-black">
    <p class="has-text-centered mb-5">
      <a href="https://bit.ly/AwwzAppDonate" target="_blank" class="">
        <button class="button  is-link">
          <span class="icon">
            <i class="fab fa-paypal"></i>
          </span>
          <span>Donate with PayPal</span>
        </button>
      </a> 
    </p>
    <p class="has-text-centered">
      <a href="https://twitter.com/calvinochieng_/"  target="_blank" >
        <span class="icon has-text-info">
          <i class="fa-brands fa-twitter"></i>
        </span>
      </a>
      <a href="https://www.youtube.com/@freedomia"  target="_blank" >
        <span class="icon has-text-danger">
          <!-- <i class="fa fa-youtube"></i> -->
          <i class="fa-brands fa-youtube"></i>
        </span>
      </a>
    </p>
    <p class="has-text-centered	">
      <a href="/"><span class="name" style="color: #cfcfcf !important;">
        <span style="color: #3273dc;">Awwz</span>App</span></a> &copy; 2023
    </p>
    </div>
  </footer>
  <script src="{% static 'app/js/control.js' %}"></script>

  <script>
    const promptForm = document.querySelector('.prompt-form');
    const userPrompt = document.querySelector("#user-propmt")
    const userPromptContainer = document.querySelector('.user-prompt-container')
    const generatedText = document.querySelector('.generated-text');
    const waiter = document.querySelector('.waiter');
    writeLoader = document.querySelector('#write-loader')
    submitButton = document.querySelector('#submit-button')

    promptForm.addEventListener('submit', (event) => {
        event.preventDefault();
        try {          
          showPopUp();
        } catch (error) {
          
        }


        writeLoader.classList.add('loader');
        waiter.classList.add('loader');
        submitButton.disabled = true;

        const formData = new FormData(event.target);

        var promptValue = document.querySelector('#text').value;
        userPromptContainer.style.display = 'block';
        userPrompt.textContent = promptValue



        fetch('{% url "write" %}', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => response.json())
        .then(response => {
            console.log(response)
            if (response.error) {
                // alert(response.error);
                alert('An error occurred while generating the text. Try again or reload the page');
                waiter.classList.remove('loader');
            } else {
              console.log(response)
                generatedText.value = response.text;
            waiter.classList.remove('loader');
            }
            writeLoader.classList.remove('loader');
            waiter.classList.remove('loader');
            submitButton.disabled = false;
        })
        .catch(error => {
          alert('An error occurred while generating the text. Try again or reload the page')
          writeLoader.classList.remove('loader');
          waiter.classList.remove('loader');
          submitButton.disabled = false;
      
      });
    });
</script>

  <script>
    const cover = document.querySelector('.cover');
    const coverCards = document.querySelectorAll('.cover .card')
    const showPopUp = ()=>{ 
    console.log('Hey')
      coverCards.forEach((card) => {
        card.classList.add('hide');
        console.log('Hiding')
      });
      const randomIndex = Math.floor(Math.random() * coverCards.length);
      coverCards[randomIndex].classList.remove('hide');
      console.log('Hye')
        
      cover.style.transform = 'scale(1)'   
    }

  </script>
  <script>
    document.getElementById('synthesize').addEventListener('click', synthesizeSpeech);
    let button = document.getElementById('synthesize');

    function synthesizeSpeech() {
      var text = document.querySelector('#text').value;
      var voiceId = document.querySelector('#voice').value;

      // Show loader
      var loader = document.querySelector('#loader');
      loader.classList.add('loader');
      button.disabled = true;

      fetch('/speech/', {
        method: 'POST',
        body: JSON.stringify({text: text, voice: voiceId}),
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}',
        }
      })
      .then(response => {
        if (!response.ok) {
          alert("Network Error Check Your Connection")
          throw new Error('Network response was not ok');
        }
        return response.blob();
      })
      .then(blob => {
        var audioUrl = URL.createObjectURL(blob);
        var audio = document.querySelector('#audio');
        var downloadButton = document.querySelector('#download-button')
        audio.src = audioUrl;
        downloadButton.href = audioUrl;
        audio.play();

        // Hide loader
        loader.classList.remove('loader');
        button.disabled = false;
      })
      .catch(error => {
        console.error('There was a problem with the fetch request:', error);
        alert('An Error Occured Try Again or Reload This Page!')
        // Hide loader and re-enable button
        loader.classList.remove('loader');
        button.disabled = false;
      });
    }

  </script>
</body>

</html>