{% extends 'base.html' %}

{% block title %}SignUp AwwzApp{% endblock title %}

{% block description %} Please Sign Up {% endblock description %}


{% block content %}
  <section class="hero has-background-white-ter is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container is-flex is-justify-content-center is-align-items-center">
        <div class="has-background-white p-3 card pb-4">                  
          <form method="POST" class="tool-form m-0">{% csrf_token %}
              <h1 class="title pt-4  has-text-weight-bold has-text-centered">Sign Up</h1>
              <p>
                <label for="id_email">Email:</label>
                <input class="input is-normal mb-2"  type="email" name="email" placeholder="Email Address" required id="id_email">
              </p>
              <p>
                <label for="id_username">Username:</label>
                <input  class="input is-normal mb-2"  type="text" name="username" placeholder="Username" required id="id_username">
              </p>
              <p>
                <label for="id_password">Password:</label>
                <input class="input is-normal mb-2" type="password" placeholder="Password" name="password" required id="id_password">
              </p> 
              <button type="submit" class="input button has-text-white is-link is-normal mt-2 ">SIGN UP</button>
          </form>
          <p class="has-text-black p-3">Have an account <a class="has-text-link" href="{% url 'login' %}">Sign In</a>  </p>
        </div>
    </div>
  </section> 
{% endblock content %}

{% block scripts %}
    
{% endblock scripts %}
