{% extends 'base.html' %}

{% block content %}
<style>
    .hero{
        justify-content: flex-start !important;
    }
    
</style>
<section class="hero has-background-white-ter is-fullheight-with-navbar " style="">       
	<div class="container is-flex is-align-items-center is-justify-content-center is-flex-direction-column">
		<h1 class="title">You're Offline</h1>  
		<a href=".">
			<button class="button is-link is-medium">Reload</button> 
		</a>
	</div>
</section>
{% endblock content %}
    