html,body{
    font-family: 'Montserrat', sans-serif;
    background: #FAFAFA;
  }
  .title{
    font-size: 3.3rem !important
  }
  .navbar-burger span{
    height: 2px;
  }
  .navbar-burger span:nth-child(2){
    width: 12px;
  }
  .name {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: -5px;
  }
  .logo {
    max-width: 3.75rem !important;
    margin-bottom: 5px;
  }
  .is-link {
    background: linear-gradient(45deg, #673ab7, #3273dc);
  }
  .link-outlined {
    background-color: transparent;
    border: 1px solid #3273dc;
  }
  .nav-start * a:hover,
  .start-brand * a:hover {
    color: #5C6BC0 !important;
  }
  

  @media only screen and (max-width: 768px) {

  }

  @media screen and (min-width: 1024px) {
    .largescreen {
      max-width: 55% !important;
    }
    .footer-navbar{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
  }
  @media screen and (max-width: 1024px){
    .navbar-end{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;

    }
    .navbar-end .navbar-item{
      width: 100%;
      text-align: center;
    }
    .navbar-menu.is-active {
      height: calc(100vh - 52px);
      display: flex !important;
      justify-content: center;
      align-items: center;
  }
  .title{
    font-size: 2.9rem !important
  }

}
